@model Asm.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group" hidden>
            <label asp-for="orderID" class="control-label"></label>
            <input type="hidden" asp-for="orderID" class="form-control" />
            <span asp-validation-for="orderID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" name="hinhanh" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOrder" class="control-label"></label>
                <input asp-for="dateOrder" class="form-control" />
                <span asp-validation-for="dateOrder" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" value="b74ddd14-6340-4840-95c2-db12554843e5" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
